.horizontal-menu{
    background-color: #333;
    white-space: nowrap;
    overflow: auto;
}
.horizontal-menu a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.horizontal-menu a:hover{
    background-color: #777;
}